*{
margin:0;
padding:0;
box-sizing: border-box;
font-size:15px;

}

.menu ul {
display: flex;
list-style: none;
background-color: red;
height:40px;
justify-content: center;

}
.menu li a {
margin:15px;
text-decoration:none;
color:#fff;
}
.menu li a:hover{
color:#111;
}
.titulo {
margin:10px;
text-align:justify;	
}
.grid{
display: grid;
grid-template-columns:repeat(3, 200px);
grid-row:1;
grid-gap:120px;
margin-top: 20px;
}
@media screen and (max-width:330px){

.menu li a:hover{
color:#111;	
}
.menu ul {
display: flex;
list-style: none;
background-color: cyan;
height:75px;
justify-content: center;
padding:5px;
}
.cs16 {
width:130px;
height:140px;
margin:5px;
}
.csgo {
width:130px;
height:140px;
margin:5px;
}
.grid{
display: grid;
grid-template-columns:repeat(2, 15px);
grid-row:1;
grid-gap:130px;


}
}
